.main-container {
    float: left;
    width: 100%;
    margin-top: 100px;
    text-align: center;
} 

.titlebox {
    margin: auto;
    background-color: rgba(255, 255, 255, 75%);
    border-radius: 5px 5px;
    padding: 5px; 
} 

body {
    color: rgb(240, 240, 240); 
    background-attachment: fixed;
    background-origin: border-box;
    background-size: cover;
}

/* Mobile devices */
@media (max-width: 767px) { 
    .titlebox {
        width: 95%; 
        float: center; 
        margin-top: 130px; 
    } 

    .contentbox {
        width: 95%; 
        float: center; 
    } 

    .sidebar { 
        visibility:hidden; 
    }

    .titlebox p { 
        font-size: 13px; 
    } 

    .titlebox p { 
        font-size: 25px; 
    } 
}

/* PCs */
@media (min-width: 768px) { 
    .titlebox { 
        width: 65%; 
        float: left; 
        margin-left: 2.5%; 
        margin-top: 100px; 
    } 

    .contentbox { 
        width: 60%; 
        float: left; 
        margin-left: 5%; 
        margin-top: 30px; 
    } 

    .sidebar { 
        width: 25%; 
        float: right; 
        margin-right: 5%; 
        margin-top: 30px; 
    } 

    .contentbox p { 
        font-size: 18px; 
    }

    .titlebox p { 
        font-size: 35px; 
    } 
} 
